<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <!-- Connection strings -->
  <appSettings>
   <!--<add key="ConnectionString" value="Server=DEIRDRE-PC\SQLEXPRESS; Database=Just_Rate; User Id=aoifemcevoy; Password=password1"/>-->
    <add key="ConnectionString" value="Server=VAIO\SQLEXPRESS; Database=Just_Rate; User Id=jcleland; Password=rdkfomhJR15"/>
    <!--<add key="ConnectionString" value="Server=ATLAS-SQLSRV01; Database=jcleland; User Id=jcleland; Password=rdkfomhJR15" />-->
  </appSettings>
</configuration>